networks:
  test-network:
    external: true

services:
  # PostgreSQL Service
  postgres:
    image: postgres:13-alpine
    container_name: postgres_db
    environment:
      TZ: GMT
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
      PG_DATA: /var/lib/postgresql/data
    command: ["postgres", "-c", "log_statement=all"]
    volumes:
      - indexer-pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - test-network

  # Redis Service
  redis:
    image: redis:6-alpine
    container_name: redis_cache
    volumes:
      - indexer-redis-volume:/data
    ports:
      - 6379:6379

  # Indexer Service
  indexer-scraper:
    build:
      context: .
    container_name: indexer_service
    volumes:
      # - .:/usr/src/app
      - indexer-node-modules:/usr/src/app/node_modules
    command: [sh, -c, "pnpm db:indexer-database:migrate:run && pnpm start:indexer"]
    env_file:
      - .env
    environment:
      INDEXER_REDIS_HOST: redis
      DATABASE_HOST: postgres
    depends_on:
      - postgres
      - redis

  # Express API Service
  indexer-api:
    build:
      context: .
    container_name: indexer_api
    volumes:
      # - .:/usr/src/app
      - indexer-api-node-modules:/usr/src/app/node_modules
    ports:
      - ${PORT}:${PORT}
    command: pnpm start:indexer-api
    env_file:
      - .env
    environment:
      INDEXER_REDIS_HOST: redis
      DATABASE_HOST: postgres
    depends_on:
      - postgres
      - redis

volumes:
  indexer-node-modules:
  indexer-api-node-modules:
  indexer-pgdata:
  indexer-redis-volume:
